body {
    background: radial-gradient(#653d84, #332042);
}
.teamcontainer {
    width: 67%;
    padding: 1%;
    margin: 0 auto;
    background: #e2e2e2;
}
.teamcontainer img.teamlogo {
    width: 30%;
    margin: 0 auto;
    display: block;
}
h2, h3 {
    text-align: center;
}
.teamcontainer i {
    font-style: normal;
    font-weight: bold;
}

.top {
    display: flex;
    flex-direction: row;
}

.left {
    width: 70%;
    border-right: 1px solid;
}